In [ ]:
import pandas as pd
import numpy as np

In [4]:
#reading IRI file
df = pd.read_csv("data/raw/IRI_EA.tsv",sep="\t")

In [18]:
import glob
filenames = glob.glob("data/raw/*")
for f in filenames:
    df = pd.read_csv(f)
    print("###########################")
    print(f)
    print(np.shape(df))
    print(df.head(1))

###########################
data/raw\AMO.csv
(167, 1)
  1856    0.243    0.176    0.248    0.167    0.219    0.241    0.255    0.232    0.299    0.149    0.159    0.253
0  1857    0.238   -0.035   -0.050    0.032   -0....
###########################
data/raw\AO.csv
(897, 1)
    1950    1   -0.0603
0   1950    2    0.6268
###########################
data/raw\ersst5_nino.csv
(898, 1)
  YR   MON  NINO1_2  NINO1_2_ANOM   NINO3    NINO3_ANOM   NINO4    NINO4_ANOM   NINO3_4  NINO3_4_ANOM
0  1950   1   23.01   -1.55   23.56   -2.10   26....
###########################
data/raw\GBI.csv
(172, 1)
  1851\t-0.90\t-0.60\t-0.51\t-0.02\t0.21\t0.23\t1.79\t1.22\t0.96\t0.30\t0.81\t0.51
0  1852\t-0.44\t-0.14\t1.31\t0.90\t-0.44\t-0.78\t...
###########################
data/raw\IRI_EA.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   -2.710000
###########################
data/raw\IRI_EAWR.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t    2.290000
###########################
data/raw\IRI_EPNP.tsv
(824, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   0.9100000
###########################
data/raw\IRI_NAO.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   0.5600000
###########################
data/raw\IRI_PNA.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   -3.650000
###########################
data/raw\IRI_POL.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t  -0.7100000
###########################
data/raw\IRI_SCA.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   0.7800000
###########################
data/raw\IRI_TNH.tsv
(224, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   0.5500000
###########################
data/raw\IRI_WP.tsv
(898, 1)
    months since 1960-01-01\tunitless
0     -119.5000    \t   -1.690000
###########################
data/raw\NAO.csv
(897, 1)
    1950    1    0.9200
0   1950    2    0.4000
###########################
data/raw\NINO_1_2.csv
(76, 1)
  1948 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99
0  1949 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99...
###########################
data/raw\NINO_4.csv
(76, 1)
  1948 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99
0  1949 -99.99 -99.99 -99.99 -99.99 -99.99 -99.99...
###########################
data/raw\ONI.csv
(74, 1)
  1950  -1.53  -1.34  -1.16  -1.18  -1.07  -0.85  -0.54  -0.42  -0.39  -0.44  -0.60  -0.80
0   1951  -0.82  -0.54  -0.17   0.18   0.36   0.5...
###########################
data/raw\PDO.csv
(74, 1)
  1948    -0.11  -0.74  -0.03  -1.33  -0.23   0.08  -0.92  -1.56  -1.74  -1.32  -0.89  -1.70
0  1949    -2.01  -3.60  -1.00  -0.53  -1.07  -0....
###########################
data/raw\PDO_source_2.csv
(876, 1)
                   time\tPDO\tindex
0  1950-01-01T00:00:00Z\t-1.78\tPDO
###########################
data/raw\PNA.csv
(897, 1)
    1950    1   -2.3400
0   1950    2   -1.0400
###########################
data/raw\QBO.csv
(76, 1)
  1948   -4.44   -5.78   -7.31   -6.70   -5.57   -4.73   -5.51   -7.22   -7.24   -6.07   -6.28   -8.18
0  1949   -9.77  -11.80  -11.72  -10.69   -9.34  ...
###########################
data/raw\tele_index.csv
(898, 1)
  yyyy mm   NAO   EA    WP   EP_NP  PNA  EA_WR  SCA   TNH   POL  PT    Expl
0  1950  1   0.56 -2.71 -1.69  0.91 -3.65  2.29  ...

In [28]:
indices = {
    'AO': {
        'name': 'Arctic Oscilation',
        'raw_file': "AO.csv",
        'format': 'monthly'
    },
    'NAO': {
        'name': 'North Atlantic Oscillation',
        'raw_file': 'NAO.csv',
        'format': 'monthly'
    }
}

In [30]:
formats = {
    'monthly': {
        'sep': '\t',
        'header': None,
        'missing_value': None
    }
}

In [35]:
sep, header, missing = formats[indices['AO']['format']]

In [63]:
pd.read_fwf(r'data/raw/IRI_SCA.tsv',sep='\t')

     months since  1960-01-01\tunitless
0          -119.5                  0.78
1          -118.5                 -0.94
2          -117.5                 -0.22
3          -116.5                  0.46
4          -115.5                  0.28
..            ...                   ...
893         773.5                 -1.24
894         774.5                 -1.61
895         775.5                 -1.18
896         776.5                  0.41
897         777.5                  1.11

[898 rows x 2 columns]

In [55]:
pd.read_fwf(r'data/raw/AO.csv',sep='\t',header=None)

        0   1       2
0    1950   1 -0.0603
1    1950   2  0.6268
2    1950   3 -0.0081
3    1950   4  0.5551
4    1950   5  0.0716
..    ...  ..     ...
893  2024   6  0.1364
894  2024   7  0.5868
895  2024   8  1.2836
896  2024   9 -0.6237
897  2024  10  0.5248

[898 rows x 3 columns]

In [56]:
pd.read_fwf(r'data/raw/AMO.csv',sep='\t',header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1856,0.243,0.176,0.248,0.167,0.219,0.241,0.255,0.232,0.299,0.149,0.159,0.253
1,1857,0.238,-0.035,-0.050,0.032,-0.008,0.124,0.156,0.022,0.043,-0.110,-0.144,-0.259
2,1858,-0.197,-0.290,-0.046,0.235,0.113,-0.016,-0.137,-0.047,0.094,0.172,0.299,0.146
3,1859,-0.109,-0.097,0.083,0.173,0.110,-0.078,-0.158,0.086,0.103,0.151,0.083,0.105
4,1860,0.138,-0.089,0.084,-0.046,0.192,0.326,0.252,0.062,0.018,0.132,0.015,0.164
...,...,...,...,...,...,...,...,...,...,...,...,...,...
163,2019,-0.037,0.058,0.099,0.101,0.065,0.151,0.329,0.315,0.223,0.136,0.087,0.142
164,2020,0.073,0.333,0.346,0.347,0.243,0.249,0.341,0.425,0.296,0.289,0.113,0.163
165,2021,0.126,0.139,0.112,0.054,0.072,0.139,0.210,0.245,0.402,0.475,0.445,0.252
166,2022,0.176,0.133,0.009,0.110,0.197,0.199,0.136,0.358,0.662,0.483,0.282,0.218
167,2023,0.192,99.990,99.990,99.990,99.990,99.990,99.990,99.990,99.990,99.990,99.990,99.990

In [57]:
pd.read_fwf(r'data/raw/ONI.csv',sep='\t',header=None)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,1950,-1.53,-1.34,-1.16,-1.18,-1.07,-0.85,-0.54,-0.42,-0.39,-0.44,-0.60,-0.80
1,1951,-0.82,-0.54,-0.17,0.18,0.36,0.58,0.70,0.89,0.99,1.15,1.04,0.81
2,1952,0.53,0.37,0.34,0.29,0.20,0.00,-0.08,0.00,0.15,0.10,0.04,0.15
3,1953,0.40,0.60,0.63,0.66,0.75,0.77,0.75,0.73,0.78,0.84,0.84,0.81
4,1954,0.76,0.47,-0.05,-0.41,-0.54,-0.50,-0.64,-0.84,-0.90,-0.77,-0.73,-0.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,2020,0.50,0.48,0.40,0.19,-0.08,-0.30,-0.41,-0.57,-0.89,-1.17,-1.27,-1.19
71,2021,-1.05,-0.93,-0.84,-0.66,-0.48,-0.38,-0.40,-0.49,-0.67,-0.81,-0.98,-0.98
72,2022,-0.97,-0.93,-0.99,-1.06,-0.99,-0.85,-0.81,-0.91,-1.01,-0.99,-0.92,-0.83
73,2023,-0.68,-0.43,-0.15,0.16,0.48,0.77,1.07,1.32,1.56,1.78,1.92,1.95
74,2024,1.79,1.49,1.14,0.71,0.40,0.15,0.04,-0.11,-0.22,-99.90,-99.90,-99.90